@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Raleway:ital,wght@0,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Background and Foreground Colors */
  --color-background: rgba(0, 3, 25, 1);
  --color-foreground: hsl(0 0% 98%);
  
  /* Primary Colors */
  --color-primary: hsl(240 5.9% 10%);
  --color-primary-foreground: hsl(0 0% 98%);
  
  /* Secondary Colors */
  --color-secondary: hsl(240 4.8% 95.9%);
  --color-secondary-foreground: hsl(240 5.9% 10%);
  
  /* Accent Colors */
  --color-accent: hsl(240 4.8% 95.9%);
  --color-accent-foreground: hsl(240 5.9% 10%);
  
  /* Black Colors */
  --color-black: #000;
  --color-black-100: #000319;
  --color-black-200: rgba(17, 25, 40, 0.75);
  --color-black-300: rgba(255, 255, 255, 0.125);
  
  /* White Colors */
  --color-white: #FFF;
  --color-white-100: #BEC1DD;
  --color-white-200: #C1C2D3;
  
  /* Blue Colors */
  --color-blue-100: #E4ECFF;
  
  /* Purple Color */
  --color-purple: #08a97c;
}

@layer base {
  :root {
    --background: 0, 3, 25, 1;
    --foreground: 0 0% 98%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    
    /* Custom color variables from config */
    --black: #000;
    --black-100: #000319;
    --black-200: rgba(17, 25, 40, 0.75);
    --black-300: rgba(255, 255, 255, 0.125);
    
    --white: #FFF;
    --white-100: #BEC1DD;
    --white-200: #C1C2D3;
    
    --blue-100: #E4ECFF;
    
    --purple: #08a97c;
  }

  * {
    @apply !scroll-smooth;
  }

  html {
    @apply antialiased;
  }

  body {
    @apply bg-background text-foreground;
  }

  button {
    @apply active:outline-none;
  }
}

html {
  font-family: var(--font-geist-sans);
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  font-style: normal;
  font-weight: normal;
  font-family: "Geist", sans-serif;
}

/* Scrollbar Styling */
.scrolling::-webkit-scrollbar {
  width: 0.2rem;
  height: 0.1rem;
  border-radius: 0.1rem;
  background-color: #eee;
}

::-webkit-scrollbar {
  width: 0rem;
  height: 0rem;
  border-radius: 0.1rem;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-opacityClr100);
  border-radius: 0.1rem;
}

/* Spinner Animation */
.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-top: 3px solid #fff;
  border-radius: 50%;
  animation: spin 3s ease-in infinite;
}
